.heading{
    width:100%;
    text-align:left;
}

.heading h1{
    display:inline;
}

.heading button{
    border:1px white solid;
    float:right;

}

#text{
     background-color: white;
     border-radius: 10px;
     width:10%;
}

h4{
    background-color: rgb(143, 143, 143);
    line-height: 2px;
    margin:0px;
}